# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp

# Environment / secrets
.env
*.env.local
StockPricesDW/local.settings.sql

# Logs
*.log

# Temp files
*.tmp
~$*

#CLAUDE
CLAUDE.md

#Others
Dashboard/
Slide/
StockPricesDW/